@import '@lessVar';

.container {
  input {
    margin-top: 40rpx;
    padding: 10rpx 20rpx;
    width: 80vw;
    height: 40rpx;
    border: 2rpx solid #333;
    border-radius: 20rpx;
  }

  .box {
    margin: 10rpx;
    width: 80vw;
    height: 30vw;
    display: inline-block;
    border: 4rpx solid #333;
    vertical-align: middle;
    text-align: center;
    font-size: 40rpx;
    line-height: 30vw;
  }
}